#logoMAES{
  width: 400px;
  height: 300px;
  margin-top: 50px;
  margin-right: 5%;
}

#logoMAESmedia{
  float:right;
  width:75px;
  height:50px;
  margin-top:-20px;
  margin-right:1%;
}

#btn-conoce{
  display: inline-block;
  width: 50%;
  padding-right: 0px;
  padding-left: 0px;
}

@media (max-width: 767px){
  p{
    font-size: 14px;
  }

  .demo-panel-title{
    font-size: 28px;
  }

  .navbar-brand{
    font-size: 22px;
  }

  .col-xs-5{
    float: none;
    width: 0;
    display: none;
  }

  .col-xs-6 {
    width: 100%;
  }

  .col-xs-offset-1 {
    margin-left: 0px;
  }

  #btn-conoce{
    display: none;
  }

  @media (max-width: 410px){
    p{
      font-size: 12px;
    } 

    .navbar-brand{
      font-size: 18px;
    }
  }
}