/* A Free Design by Bryant Smith (bryantsmith.com) */

html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	background-image:url(background.png);
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

p {text-align: left;}

td{font-size:12px;}

#page
{
  width:581px;
}

#header
{
width:581px;
height:90px;
background-image:url(header.png);
clear:both;
}

#header img
{
display:block;
margin:0 auto 0 auto;
padding-top:40px;
}


#content
{
background-image:url(content_back_shadow.png);
background-repeat:repeat-y;
width:581px;
}

#content #container
{
float:left;
background-image:url(gradient_rectangle_back.png);
background-repeat:repeat-x;
background-color:#4586F1;
width:547px;
margin-left:14px;
clear:both;
}

#menu
{
background-image:url(menu_background.png);
height:54px;
width:527px;
}

#menu ul {
	padding: 0px;
	list-style-type: none;
	text-align:center;
	height:40px;

}
#menu ul li , #menu ul li a, #menu ul li a:visited{
	display:block;
	float:right;
	margin: 0px;
	text-align:left;
	line-height:40px;
	color:#FFFFFF;
	padding-left:6px;
	padding-right:2px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	width:77px;
}


#menu ul li a:hover{
color:#65A9ED;
}

#content #main
{
display:block;
width:527px;
clear:both
}

#content #text
{
margin:0;
padding:0;
width:497px;
display:block;
background-color:#FFFFFF;
float:left;
min-height:400px;
clear:both;
padding-left:15px;
padding-right:15px;
}

.clear {
    clear:both;
  }


#content #text h1, #content #text h1 a, #content #text h1 a:visited
{
margin:0;
padding:0;
color:#093175;
font-size:24px;
margin-bottom:7px;
margin-top:7px;
}

#content #text p
{
margin-top:5px;
margin-bottom:5px;
padding:0;
}


#footer
{
background-image:url(footer.png);
background-repeat:no-repeat;
width:581px;
height:60px;
font-size:11px;
color:#C5DDFA;
text-align:right;
}

#footer p
{
text-align:center;
padding-top:20px;
}

#footer a, #footer a:visited
{
font-size:11px;
color:#C5DDFA;
text-decoration:none;
}


